{# templates/feed.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Парсер Яндекс-фида{% endblock %}
{% block body %}
    <p>Укажите ссылку на фид от Яндекс.Недвижимости<br> нажмите "Загрузить" для добавления информации в базу данных.</p>

    <p>{{ form(form) }}</p>

    {%  if do_result %}
        <hr>
        <p>Данные по ссылке {{ url }} успещно считаны.</p>
        <p>Результаты импорта в базу данных:</p>
        <p>Обработано: {{ count_all }} записей.<br>
        Добавлено : {{ count_new }} новых записей.<br>
        Изменено &nbsp;: {{ count_upd }} записей.<br>
        Удалено &nbsp;&nbsp;: {{ count_del }} старых записей.</p>

    {% endif %}
    {{ parent() }}
{% endblock %}